@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';


 .main-error{
   text-align: center;
   min-height: calc(100vh - 146px);
   &__404{
      font-size: 288px;
      font-weight: $font-bold;
      color:$color-red ;
   }

   &__msg{
      font-size: 36px;
      padding-bottom: 180px;
   } 

   &__lien{
      font-size:18px;
      color :$color-red;
      font-weight: $font-medium;
      
      &.active{
         border-bottom:1px solid $color-red;
      }
   }  
}






