@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.form-employee{
   display: flex;
   flex-direction: column;
 
      @media screen and (max-width: 1260px) {
         
         
      }
      .input-error{
      color:$color-error;
      }
      input{
         cursor: pointer;
      }
      label {
         display: block;
         margin-top: 1rem;
         margin-bottom: 10px;
         font-weight: 700;
         color:$color-secondary
      }
      &__icon{
         @include flex( row, center, center);
         img{
            width: 120px;
            height: 120px;
         }
      }
      .dateOfBirth,
      .startDate
      {
         width: 160px;
      }
      .zipCode,
      .city{
         width: 250px;
      }
      .inputs{
         display: grid;
         grid-template-columns: auto auto;
         grid-template-rows: 440px auto ;


         fieldset{
            width:80%;
          
          
          legend{
            font-weight: 700;
            border-bottom: 1px solid $color-bg-nav;
            margin-bottom:20px !important;
          }
         }
      }

     

}

/* Btn */
.form-employee{
   
      .mb-3{
         display: flex;
         justify-content: center;
         flex-direction: row;
         .btn{
            width: 120px;
            margin-top: 2rem;
            margin-right: 2rem;
         }
        
      }
}

.btn-success{
   background-color: #8D9379 !important;
   border: #6C6753 !important;
}

   


