@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.form-employee{
   display: flex;
   flex-direction: column;
 
      @media screen and (max-width: 1260px) {
         
         
      }
    

      .input-error{
      color:$color-error;
      }
      input{
         cursor: pointer;
      }
      label {
         display: block;
         margin-top: 1rem;
         margin-bottom: 10px;
         font-weight: 700;
         color:$color-secondary
      }
      &__icon{
         @include flex( row, center, center);
         img{
            width: 120px;
            height: 120px;
         }
      }
      .dateOfBirth,
      .startDate
      {
         width: 160px;
      }
      .zipCode,
      .city{
         width: 220px;
      }
      .inputs{
         display: grid;
         grid-template-columns: auto auto;
         grid-template-rows: 440px auto ;

            @media screen and (max-width: 1260px) {
               display: grid;
               grid-template-columns: auto ;
               grid-template-rows:  auto ;
            }

         fieldset{
            width:80%;
            border :1px solid red;
            @media screen and (max-width: 1260px) {
               width:75%
          }
         }
      }

      .form-fieldset{
         
         legend{
            color:$color-primary;
            border-bottom: 1px solid $color-bg-nav;
            margin-bottom: 20px;
         }
      }

}

/* Btn */
.form-employee{
   
      .mb-3{
         display: flex;
         justify-content: center;
         flex-direction: row;
         .btn{
            width: 120px;
            margin-top: 2rem;
            margin-right: 2rem;
         }
        
      }
   
}

.btn-success{
   background-color: #8D9379 !important;
border: #6C6753 !important;
}


