$color-text : #43425D;
$color-bg : #FAFAFC;
$color-primary:#6C6753;
$color-secondary:#8D9379;
$color-footer:#F4F4F4;

$color-bg-nav:#dcded6;
$color-error:#FF6060;
$font-family-primary :'Roboto';
$font-regular :400;
$font-medium :500;
$font-bold :700;

$grid-footer-bg : #dfe6e9;


$border-radius: 5px;

$breakpoints:(
   smartphone:650px,
);


