@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

/*Navbar*/

.nav-menu {
  @include flex( row, space-between, center);
  color: $color-primary;
 }

.navbar{
   height: 70px;
}
.nav-logo--design {
   width: 40px;
   height: 40px;
 }
 
 .nav-logo--brand {
   width: 240px;
   height: 40px;
 }

 .nav-ico {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}




//Style hidde et show
.nav-item:hover,
.nav-item:focus {
  background: red;
  color: var(--tertiary);
  //outline: none;
}

